@font-face {
    font-family: "Raleway";
    src: url(../css/Raleway-VariableFont_wght.ttf)
}

body {
    font-family: Raleway, sans-serif !important;
}

/* Keeps elements within the middle ~80% of the screen */
.does-not-reach-screen-edge {
    margin: 0 12%;
}

.name {
    font-size: xx-large;
    padding-top: 2%;
    margin-left: 12%;
}

.nav-item {
    padding-top: 2%;
    padding-right: 8%;
    font-size: x-large;
}

.nav-link:hover {
    color: #39ADFA !important;
}

.navbar {
    white-space: nowrap; /* Keep navbar elements in 1 line */
    background-color: #FFDDCE;
}

.close-right {
    margin-right: 15%;
}

/* Left Side Introduction & About Me */
.intro {
    width: 80%;
    margin-top: 10%;
    position: absolute;
}

.big-greeting {
    margin-top: 5%;
    font-size: 100px;
    font-weight: bold;
}

.about-me {
    font-size: 50px;
    color: gray;
}

/* PROFILE CARD */
.profile-card {
    border-radius: 6%;
    padding: 3%;
    margin-top: 13%;
    margin-left: auto;
    width: 30%;
    box-shadow: 4px 5px 8px gray;
    margin-right: 12%;
}

.profile-img {
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    padding-top: 3%;
}

.card-body {
    text-align: center;
}

.card-title {
    padding-top: 6%;
    font-size: x-large;
}

.img-responsive {
    padding-top: 10%;
}

/* Projects */

.big-projects-header {
    color: #39ADFA;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 3%;
}

#projects {
    margin-top: 8%;
    background-color: #FFDDCE;
}

.project-card {
    border-radius: 6%;
    box-shadow: 4px 5px 8px gray;
    background-color: white;
}

.project-card-title {
    font-size: 40px;
    font-weight: bold;
}

.project-card-img {
    max-width: 100%;
    max-height: 100%;
}

.card-text {
    font-size: 25px;
    padding-bottom: 2%;
}

.small-projects-footer {
    color: #39ADFA;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding: 3%;
}

/* Footer and Copyright Section */

#footer {
    background-color: #93d0f8;
}

.copyright {
    padding: 2%;
    text-align: center;
}